<div>
  <form>
    <input name="volume-name" placeholder="Series Name" ><br>
    <input name="volume-description" placeholder="Series Description" ><br>
    <select multiple>
      <option>Turkeys</option>
      <option>Holy</option>
      <option>Poopnice</option>
    </select><br>
    <input list="reference-works"><br>
    <input type="file" name="volume-cover"><br>
    <input type="submit" value="Create Series"><br>
  </form>

  <ul>
    <li *ngFor="#user of users; #i = index">{{user.user_name}}</li>
  </ul>
</div>


<datalist id="reference-works">
  <option value ="Coconut Warriors">
  <option value ="Fighting Buttkiss">
  <option value ="Rocky Balblower">

</datalist>
