<div>
  <form>
    <input [(ngModel)]="collection.name" name="collection-name" placeholder="Series Name" ><br>
    <input [(ngModel)]="collection.description" name="collection-description" placeholder="Series Description" ><br>
    <select  [(ngModel)]="selectedCategories">
      <option *ngFor="#category of categories" [value]="category.id">{{category.name}}</option>

    </select><br>
    <select [(ngModel)]="selectedReferences" ngOptions>
      <option *ngFor="#reference of references" [value]="reference.name">{{reference.name}}</option>

    </select><br>

    <input type="file" (change)="fileChangeEvent($event)" placeholder="Select Cover Art" />
    <img [src]="file.name" *ngIf="file" alt="Cover Art" height="42" width="42">
    <button type="button" (click)="upload()">Upload</button>
    <input (click)="createCollection(collection)" type="submit" value="Create Series"><br>
  </form>
</div>
